* {
    margin: 0;
    padding: 0;
}

.contaner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #252839;
}

#animation_h2 {
    position: relative;
    font-size: 14vw;
    text-transform: uppercase;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    /*#383d52*/
}

#animation_h2::before {
    content: attr(data-txt);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    color: #01fe87;
    -webkit-text-stroke: 0;
    border-right: 4px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}