$color-input-primary: #3498bd;
$color-input-Secondary: #2ecc71;
$color-btn: #2ecc71;
$color-box-bg: rgba(225, 225, 225, 0.1);
$logo-color: rgb(129, 201, 22);
$white: white;

$width-mobile-1: 800px;
$width-mobile-2: 550px;
